@font-face {
  font-family: halfshell;
  src: url("./ninja.otf") format("opentype");
}

body {
  background-color: #d8d881 !important;
  font-family: "halfshell" !important;
}

input {
  border-color: #858842 !important;
  background-color: #d8d881 !important;
  color: #858842 !important;
}

h4,
p,
li,
a {
  color: #858842 !important;
}

.card,
.card-header,
.navbar {
  background-color: #c6cb6d !important;
}

.blockquote-footer,
.footer-text-color {
  color: #ce8243 !important;
}

.navbar-brand {
  padding-left: 5px;
}

::placeholder {
  color: #858842 !important;
}